In [2]:
import pandas as pd

In [50]:
data = pd.read_csv('train.csv')

In [9]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

1. Какое количество мужчин и женщин ехало на параходе? Приведите два числа через пробел.

In [6]:
male, female = data["Sex"].value_counts()

In [7]:
male, female

577 314

2. Подсчитайте сколько пассажиров загрузилось на борт в различных портах? Приведите три числа через пробел.

In [11]:
S, C, Q = data['Embarked'].value_counts()

In [12]:
S, C, Q

644 168 77

3. Посчитайте долю (процент) погибших на параходе (число и процент)?

In [46]:
dead = data[data['Survived'] == 0].shape[0]
all_pass = data['Survived'].shape[0]
dead, dead/all_pass * 100

(549, 61.61616161616161)

4. Какие доли составляли пассажиры первого, второго, третьего класса?

In [36]:
class_count = data['Pclass'].value_counts()
all_pass = data.shape[0]
class_count/all_pass * 100

Pclass
3    55.106622
1    24.242424
2    20.650954
Name: count, dtype: float64

5. Вычислите коэффициент корреляции Пирсона между количеством супругов (SibSp) и количеством детей (Parch).

In [38]:
data['SibSp'].corr(data['Parch'],  method="pearson")

np.float64(0.41483769862015263)

6. Выясните есть ли корреляция (вычислите коэффициент корреляции Пирсона) между:

возрастом и параметром Survived;
полом человека и параметром Survived;
классом, в котором пассажир ехал, и параметром Survived.

In [45]:
age = data['Age'].corr(data['Survived'],  method="pearson")

data["Sex"] = data["Sex"].map({"male": 1, "female": 0})
sex = data['Sex'].corr(data['Survived'],  method="pearson")

pclass = data['Pclass'].corr(data['Survived'],  method="pearson")

age, sex, pclass

(np.float64(-0.07722109457217737),
 np.float64(-0.5433513806577525),
 np.float64(-0.33848103596101586))

7. Посчитайте средний возраст пассажиров и медиану, минимальный и максимальный возраст.

In [48]:
data['Age'].mean(), data['Age'].median(), data['Age'].min(), data['Age'].max()

(np.float64(29.69911764705882),
 np.float64(28.0),
 np.float64(0.42),
 np.float64(80.0))

8. Посчитайте среднюю цену за билет и медиану, минимальная и максимальные цены.

In [61]:
data['Fare'].mean(), data['Fare'].median(), data['Fare'].min(), data['Fare'].max()

(np.float64(32.204207968574636),
 np.float64(14.4542),
 np.float64(0.0),
 np.float64(512.3292))

9. Какое самое популярное мужское имя на корабле?

In [53]:
data = pd.read_csv('train.csv')

male= data[data["Sex"] == "male"]["Name"]

def extract_first_name(full_name):
    name_parts = full_name.split(", ")[1].split(". ")[1]  # Берем часть после титула
    return name_parts.split(" ")[0]  # Берем первое слово как имя

male_names = male.apply(extract_first_name)

# Находим самое частое имя
most_name = male_names.value_counts().idxmax()
most_name

'William'

10. Какие самые популярные мужское и женские имена людей, старше 15 лет на корабле?

In [60]:

male = data[(data["Sex"] == "male") & (data["Age"] > 15)]["Name"]
female= data[(data["Sex"] == "female" & (data["Age"] > 15)]["Name"]

def extract_first_name(full_name):
    try:
        name_parts = full_name.split(", ")[1].split(". ")[1]
        if '(' in name_parts and ')' in name_parts:
            name_brackets = name_parts.split('(')[1].split(')')[0]
            name = name_brackets.split()[0]
        else:
            name = name_parts.split()[0]
        return name
    except:
        return None

male_names = male.apply(extract_first_name)
female_names = female.apply(extract_first_name)

# Находим самое частое имя
male_most_name = male_names.value_counts().idxmax()
female_most_name = female_names.value_counts().idxmax()
male_most_name, female_most_name

('William', 'Anna')